aiogram==3.4.1
aiohttp==3.9.5
aiomysql==0.2.0
Babel==2.14.0
cachetools==5.3.3
cryptography==42.0.5
environs==11.0.0
fastapi==0.110.1
itsdangerous==2.2.0
pydantic>=2.4.1,<2.7
redis==5.0.3
SQLAlchemy==2.0.29
starlette==0.37.2
starlette-admin==0.13.2
uvicorn==0.28.1