aiogram>=3.3.0
aiohttp>=3.9.1
aiomysql>=0.2.0
Babel>=2.14.0
cachetools>=5.3.2
cryptography>=41.0.7
environs==10.3.0
fastapi==0.109.0
itsdangerous>=2.1.2
pydantic>=2.5.3
redis>=5.0.1
SQLAlchemy>=2.0.25
starlette==0.35.1
starlette-admin>=0.12.2
uvicorn>=0.25.0
